@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import "main-styles";

//font-family: 'Raleway', sans-serif;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  background: linear-gradient(180deg, rgba(45, 51, 59, 0.5), #000000 95%),
    url(../img/gora.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin-top: 120px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 1%;
}

fieldset {
  border: none;
  width: 300px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

legend {
  display: table;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 40px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  div {
    position: relative;
  }
}

input[type="text"],
[type="email"],
[type="password"] {
  margin: 0 auto;
  border: none;
  text-align: center;
  padding-top: 30px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ccc;

  ~ .focus-border {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: 0.4s;
  }

  &::placeholder {
    transition: all 0.3s;
    color: #bfbfbf;
  }

  &:focus {
    &::placeholder {
      position: relative;
      color: #545454;
      font-size: 0.8em;
      transform: translateY(-25px);
    }
    ~ .focus-border {
      width: 100%;
      transition: 0.4s;
      left: 0;
    }
  }
}

input[type="radio"] {
  @extend .visually-hidden;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;

  div {
    padding-top: 15px;
    padding-bottom: 15px;
    label {
      outline: none;
      cursor: pointer;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        margin-left: 5px;
        border: 2px solid #000000;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        transition: background 0.3s;
      }
    }
    input[type="radio"]:checked + label {
      &::after {
        background: #000000;
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button[type="submit"] {
  display: inline-block;
  border: 1px solid #000000;
  padding: 15px 60px;
  margin: 0;
  text-decoration: none;
  background: #ffffff;
  color: #000000;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s;
  font-size: 20px;

  &:hover {
    background: #000000;
    color: #ffffff;
  }
}
@include for-size(phone-only) {
  .form-wrapper {
    width: 300px;
    position: absolute;
    top: 20px;
  }
  fieldset {
    width: 200px;
  }
  legend {
    font-size: 30px;
    top: -70px;
  }
  .test {
    padding-top: 20px;
    padding-bottom: 20px;

    div {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@include for-size(tablet-portrait-up) {
  .form-wrapper {
    position: absolute;
    top: 150px;
  }
}

@include for-size(tablet-landscape-up) {
  .form-wrapper {
    position: absolute;
    top: 20px;
  }
}

@include for-size(desktop-up) {
  .form-wrapper {
    width: 400px;
    margin-top: 120px;
  }
}
